skip_tags: false

branches:
  except:
    - camber
    - origin
    - BRANCH0_60
    - BRANCH0_61
    - BRANCH0_62
    - BRANCH0_63
    - BRANCH0_64
    - BRANCH0_82
    - Branch-0_91

services:
- mssql2014

version: "{build}"

shallow_clone: true

environment:

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C ..\\misc\\run_with_compiler.cmd"
    WIN_ICONV_VER: 0.0.6

  matrix:
  - PLAT: Win32
    WIDTH: 32
    VS_VERSION: "2008"
    TDSVER: "7.0"

  - PLAT: Win32
    WIDTH: 32
    VS_VERSION: "2010"
    TDSVER: "7.1"

  - PLAT: Win64
    WIDTH: 64
    VS_VERSION: "2010"
    TDSVER: "7.2"

  - PLAT: Win32
    WIDTH: 32
    VS_VERSION: "2013"
    TDSVER: "7.2"

  - PLAT: Win64
    WIDTH: 64
    VS_VERSION: "2013"
    TDSVER: "7.3"

  - PLAT: Win32
    WIDTH: 32
    VS_VERSION: "2015"
    TDSVER: "7.2"

  - PLAT: Win64
    WIDTH: 64
    VS_VERSION: "2015"
    TDSVER: "7.3"

configuration:
  - release

install:
  # win-iconv
  - appveyor DownloadFile https://github.com/win-iconv/win-iconv/archive/%WIN_ICONV_VER%.zip
  - 7z x %WIN_ICONV_VER%.zip
  - ren win-iconv-%WIN_ICONV_VER% iconv
  - mkdir iconv-build
  - cd iconv-build
  - if exist "C:\\Program Files (x86)\\Windows Kits\\10\\include\\wdf" ren "C:\\Program Files (x86)\\Windows Kits\\10\\include\\wdf" "00wdf"
  - "%WITH_COMPILER% cmake -G \"NMake Makefiles\" -DBUILD_STATIC=on -D BUILD_SHARED=off -DBUILD_EXECUTABLE=off -DBUILD_TEST=on -DCMAKE_BUILD_TYPE=Release ..\\iconv"
  - "%WITH_COMPILER% nmake"
  - win_iconv_test.exe
  - cd ..\iconv
  - mkdir include
  - mkdir lib
  - copy iconv.h include
  - copy ..\iconv-build\iconv.lib lib
  - cd ..

build_script:
  # build FreeTDS
  - mkdir build
  - cd build
  - set OPENSSL_ROOT_DIR=c:\openssl-win%WIDTH%
  - set DEST_DIR=vs%VS_VERSION%_%WIDTH%-%APPVEYOR_REPO_BRANCH%
  - "%WITH_COMPILER% cmake -G \"NMake Makefiles\" -DCMAKE_BUILD_TYPE=Release \"-DCMAKE_INSTALL_PREFIX:PATH=%DEST_DIR%\" .."
  - "%WITH_COMPILER% nmake"
  - set PATH=%PATH%;c:\openssl-win%WIDTH%
  - src\apps\tsql.exe -C
  - cd ..
  - mkdir build_withoutssl
  - cd build_withoutssl
  - set OPENSSL_ROOT_DIR=
  - "%WITH_COMPILER% cmake -G \"NMake Makefiles\" -DCMAKE_BUILD_TYPE=Release -DWITH_OPENSSL=off \"-DCMAKE_INSTALL_PREFIX:PATH=%DEST_DIR%\" .."
  - "%WITH_COMPILER% nmake"
  - src\apps\tsql.exe -C
  - cd ..

test_script:
  - set INSTANCENAME=SQL2014
  - "powershell misc\\sql-server-activate-tcp-fixed-port.ps1"
  # Create freetds.conf
  - cd build
  - echo [global]> freetds.conf.local
  - echo port = 1433>> freetds.conf.local
  - echo tds version = %TDSVER%>> freetds.conf.local
  - echo [local]>> freetds.conf.local
  - echo host = 127.0.0.1>> freetds.conf.local
  # Create PWD
  - echo UID=sa> PWD
  - echo PWD=Password12!>> PWD
  - echo SRV=local>> PWD
  - echo DB=tempdb>> PWD
  - set FREETDSCONF=%CD%\freetds.conf.local
  - set TDSDUMP=%CD%\conndump
  - set TDSDUMPCONFIG=%CD%\confdump
  - set TDS_SKIP_SUCCESS=1
  # Add dirs of our just built DLLs to PATH envvar so everything works
  - set PATH=%CD%\src\ctlib;%CD%\src\dblib;%PATH%
  # register ODBC driver
  - "%WINDIR%\\SysWOW64\\regsvr32 /s src\\odbc\\tdsodbc.dll || %WINDIR%\\system32\\regsvr32 /s src\\odbc\\tdsodbc.dll"
  # Build and run tests
  - set CTEST_OUTPUT_ON_FAILURE=1
  - "%WITH_COMPILER% nmake check"
  - cd ..

after_test:
  - type %CD%\build\confdump
  - type %CD%\build\conndump
  # Create zipball artifact
  - cd build
  - "%WITH_COMPILER% nmake install"
  - set DEST_DIR=vs%VS_VERSION%_%WIDTH%-%APPVEYOR_REPO_BRANCH%
  - 7z a ..\%DEST_DIR%.zip %DEST_DIR%
  # END of non-test code specifically related to creation of artifacts published via GitHub  - 7z a ..\%DEST_DIR%.zip %DEST_DIR%
  - cd ..
  # Create zipball artifact for nossl
  - cd build_withoutssl
  - "%WITH_COMPILER% nmake install"
  - set DEST_DIR=vs%VS_VERSION%_%WIDTH%-%APPVEYOR_REPO_BRANCH%
  - 7z a ..\%DEST_DIR%_withoutssl.zip %DEST_DIR%
  # END of non-test code specifically related to creation of artifacts published via GitHub  - 7z a ..\%DEST_DIR%.zip %DEST_DIR%
  - cd ..

artifacts:
  - path: vs*.zip
