*.orig
cscope.files
cscope.out
Makefile.in
build/
config.log
config.cache
config.status
config.sub
config.guess
configure
libtool
ltmain.sh
ltconfig
ltcf-c.sh
aclocal.m4
autom4te.cache
depcomp
freetds.spec
PWD
doxyfile
test-dist.log
compile
install-sh
*.o
*.lo
*.la
.deps/
.libs/
Makefile
*~
include/freetds/sysconfdir.h
include/freetds/version.h
test-driver
*.log
*.trs
*.out
*.gcno
*.gcda
missing
