config.log
config.cache
config.status
config.sub
config.guess
configure
Makefile
Makefile.in
libtool
ltmain.sh
ltconfig
ltcf-c.sh
aclocal.m4
autom4te.cache
depcomp
so_locations
freetds.spec
PWD
doxyfile
test-dist.log
compile
