*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.orig
*.out
*.trs
*~
.deps/
.libs/
Makefile
Makefile.in
/PWD
/aclocal.m4
/autom4te.cache
/build/
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/freetds.spec
/include/freetds/sysconfdir.h
/include/freetds/version.h
/install-sh
/libtool
/ltcf-c.sh
/ltconfig
/ltmain.sh
/missing
/test-dist.log
/test-driver
