/freebcp.1
/tsql.1
/bsqldb.1
/defncopy.1
/datacopy.1
/osql.1
/fisql.1
libtds
/reference
/userguide
/doc
/ctlib.api.xml
/dblib.api.xml
/odbc.api.xml
/doxy.log
/bsqlodbc.1
/ctlib.api.body
/dblib.api.body
/odbc.api.body
/freetds.conf.5
/userguide_desc.xml
