name: macOS

on:
    push:
        branches:
            - '**'
        paths-ignore:
            - .github/workflows/linux.yml
            - .github/workflows/windows.yml
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'
            - 'v[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    pull_request:
        branches:
            - '**'
        paths-ignore:
            - .github/workflows/linux.yml
            - .github/workflows/windows.yml

    workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

jobs:

    build:

        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-14]

        env:
            PREFIX: /tmp/freetds

        steps:

        - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
          with:
            fetch-depth: 0

        - name: Install dependencies
          run: |
            brew install autoconf automake libtool \
                         gettext gperf openssl@3

        - name: configure
          run: |
            autoreconf -i
            ./configure --with-openssl --enable-silent-rules \
                        --prefix=${PREFIX}

        - name: make
          run: make

        - name: make check
          run: make check LOG_COMPILE=true
